@import url('https://fonts.googleapis.com/css2?family=Marck+Script&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Overpass+Mono:wght@300..700&display=swap');
@import url('normalize.css');

:root {
    --orange: rgb(251, 143, 12);
    --secondary-orange: #FD6C0A;
    --light: rgba(255, 255, 255, 0.3);
    --green: #29ab87;
    --blue: #32ADE6;
    --golden: #ebc351;
    --dark-green: hsl(97, 45%, 31%);
    --red: #fe4d4a;
    --hover-gray: #EBE9E9;
    --pale-yellow: #FFE2A9;
    --pink: #FF1493;
    --coal: #191717;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Nunito Sans", serif;
    font-size: 1.6rem;
    overflow-x: hidden;
}

input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear,
input[type="password"]::-webkit-credentials-auto-fill-button {
  display: none;
}

input[type="radio"] {
    accent-color: var(--secondary-orange);
}

label {
    user-select: none;
    cursor: pointer;
}

button {
    border: none;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #121212 inset !important;
  -webkit-text-fill-color: white !important;
  transition: background-color 5000s ease-in-out 0s;
}
