.css-typing {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Overpass Mono', monospace;
    gap: 10px;
    width: 500px;
}

.css-typing p {
    border-right: .15em solid orange;
    white-space: nowrap;
    overflow: hidden;
    margin: 0;
}

/* Animation per line */
.line1 {
    animation: type 2s steps(40, end);
    animation-fill-mode: forwards;
}

.line2 {
    opacity: 0;
    animation: type2 2s steps(40, end);
    animation-delay: 2s;
    animation-fill-mode: forwards;
}
.line3 {
    opacity: 0;
    animation: type3 2s steps(20, end), blink .5s step-end infinite alternate;
    animation-delay: 4s;
    animation-fill-mode: forwards;
}


@keyframes type {
    0% {
        width: 0;
    }

    99.9% {
        border-right: .15em solid orange;
    }

    100% {
        border: none;
    }
}

@-webkit-keyframes type {
    0% {
        width: 0;
    }

    99.9% {
        border-right: .15em solid orange;
    }

    100% {
        border: none;
    }
}

@keyframes type2 {
    0% {
        width: 0;
    }

    1% {
        opacity: 1;
    }

    99.9% {
        border-right: .15em solid orange;
    }

    100% {
        opacity: 1;
        border: none;
    }
}

@-webkit-keyframes type2 {
    0% {
        width: 0;
    }

    1% {
        opacity: 1;
    }

    99.9% {
        border-right: .15em solid orange;
    }

    100% {
        opacity: 1;
        border: none;
    }
}

@keyframes type3 {
    0% {
        width: 0;
    }

    1% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes type3 {
    0% {
        width: 0;
    }

    1% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}

@-webkit-keyframes blink {
    50% {
        border-color: tranparent;
    }
}