.reset-container {
    height: 100%;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.textbox-label {
    margin-left: 5px;
}

.input-area {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.btn-area {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
}

.cancel {
    width: 100px;
    border: solid 2px rgba(255, 255, 255, 0.2);
    background-color: var(--coal);
    color: var(--red);
}

.reset {
    width: 200px;
    background-color: var(--green);
    color: white;
    transition: background-color 0.2s ease;
}

.btn {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 600;
}

.cancel:hover {
    opacity: 0.8;
}

.reset:hover {
    background-color: white;
    color: var(--green);
}

.loader-container {
    position: absolute;
    transform: translate(230px, 215px);
}