.nav-bar {
    background-color: transparent;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    top: 0;
    z-index: 9999;
    transition: background-color 0.2s ease;
    color: white;
}

.black-bg {
    background-color: rgba(0, 0, 0, 0.8);
}

.logo-area {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100px;
    margin-left: 20px;
    margin-right: auto;
}

.web-logo {
    aspect-ratio: 1/1;
    height: 35px;
}

.logo-label {
    color: var(--orange);
    font-family: 'Marck Script', cursive;
    font-size: 25px;
}

.nav-area {
    margin-right: auto;
    margin-left: 20px;
}

.nav-list {
    display: flex;
    width: 500px;
    align-items: center;
    justify-content: center;
    gap: 60px;
}

.item {
    list-style: none;
}

.link {
    color: white;
    font-size: 18px;
    font-weight: 700;
    transition: color 0.1s ease-in;
    position: relative;
    padding: 12px 15px;
    border-radius: 10px 10px 0px 0px;
    text-decoration: none;
}

.link::after {
    content: '';
    height: 2px;
    width: 100%;
    background-color: var(--orange);
    bottom: 0;
    left: 0;
    position: absolute;
    transform: scaleX(0) scaleY(1);
    transition: transform 0.1s ease-in;
}

.link:hover::after {
    transform: scaleX(1) scaleY(1);
}

.link:hover {
    color: var(--orange);
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.search-box {
    line-height: 40px;
    width: 400px;
    border: solid 2px white;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: left;
    transition: background-color 0.1s ease-out;
}

.search-box:focus-within {
    border: solid 2px var(--orange);
    background-color: rgba(0, 0, 0, 0.5);
}

.search-box input {
    background-color: transparent;
    padding-left: 20px;
    border-radius: 20px 0px 0px 20px;
    width: 85%;
    border: transparent;
    line-height: 40px;
    color: white;
    outline: none;
}

.search-box input::placeholder {
    color: lightgray;
    font-style: italic;
}

.search-btn {
    background-color: rgba(0, 0, 0, 0.3);
    height: 40px;
    width: 60px;
    border-radius: 0px 20px 20px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.search-btn:hover {
    background-color: rgba(0, 0, 0, 0.6);
}

.search-icon {
    transform: translateX(-2px);
    cursor: pointer;
}

.auth-area {
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 20px;
    width: 300px;
    transform: translateX(-30px);
    margin-left: auto;
}

.home-login-btn {
    height: 40px;
    width: 100px;
    color: white;
    background-color: var(--light);
    text-align: center;
    align-content: center;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    text-decoration: none;
    font-weight: 700;
}

.home-signin-btn {
    height: 40px;
    width: 100px;
    color: white;
    background-color: var(--secondary-orange);
    text-align: center;
    align-content: center;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    text-decoration: none;
    font-weight: 700;
}

.home-login-btn:hover {
    color: black;
    background-color: white;
}

.home-signin-btn:hover {
    color: var(--secondary-orange);
    background-color: white;
}

.avatar {
    aspect-ratio: 1/1;
    height: 50px;
    background-color: var(--orange);
    border-radius: 50%;
    overflow: hidden;
    border: solid 1px white;
}

.avatar img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.expand-btn {
    aspect-ratio: 1/1;
    border-radius: 50%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.expand-btn:hover {
    background-color: rgba(255, 255, 255, 0.2);
    transition: background-color 0.1s ease;
}

.spin-icon {
    transition: transform 0.3s ease;
}

.up {
    transform: rotate(180deg);
}