.slide-container {
    width: 500px;
    height: 100%;
    display: flex;
    background-color: transparent;
    overflow: hidden;
}

.slider {
    height: 100%;
    width: 300%;
    display: flex;
    transform: translateX(0px);
    transition: transform 0.3s ease-in;
    color: white;
}

.first {
    transform: translateX(0px);
}

.second {
    transform: translateX(-500px);
}

.third {
    transform: translateX(-1000px);
}

.process {
    height: 60px;
    width: 400px;
    position: absolute;
    transform: translateX(50px) translateY(100px);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px
}

.active {
    background-color: var(--orange);
    border: solid 0px transparent;
    box-shadow: 0 0 25px var(--orange), 0 0 50px var(--orange);
}

.unactive {
    background-color: rgba(255, 255, 255, 0.3);
}

.step-bar {
    height: 10px;
    width: 120px;
    border-radius: 2px;
}
